<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Home Operator</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container text-center d-flex justify-content-between">
          <a class="navbar-brand h1" href="/operator">OPERATOR</a>
          <button class="btn btn-danger"><a style="text-decoration: none;" class="text-white" th:href="@{/logout}">Log Out</a></button>
        </div>
      </nav>

      <!-- modal -->

      

      <!-- end of modal -->

      <div class="container mt-5">
        <div class="w-100 d-flex flex-column align-items-center">
            <form class="mb-3 d-flex flex-column w-50" method="post" th:action="@{/operator}">
                <table class="table">
                    <tr style="border: white;">
                        <td>
                            No. Rekening Pengirim
                        </td>
                        <td>
                            <input id="inputPengirim" th:field="${rekPengirim.noRekening}" type="text" class="w-100 border border-1 rounded p-2" placeholder="Masukkan nomor rekening" required />
                        </td>
                        <td>
                            <button data-bs-toggle="modal" data-bs-target="#checkPengirim" class="btn btn-outline-primary" id="btnPengirimCek">Check</button>

                            <div class="modal fade" id="checkPengirim" tabindex="-1" aria-labelledby="checkPengirimLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="checkPengirimLabel">Modal title</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <div id="rekPengirim" th:text="${amount.pengirim}"></div>
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                      <button type="button" class="btn btn-primary">Save changes</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </td>
                    </tr>
                    <tr style="border: white;">
                        <td>
                            No. Rekening Penerima
                        </td>
                        <td>
                            <input th:field="${rekPenerima.noRekening}" type="text" class="w-100 border border-1 rounded p-2" placeholder="Masukkan nomor rekening" required />
                        </td>
                        <td>
                            <button class="btn btn-outline-primary"><a style="text-decoration: none;" href="">Check</a></button>
                        </td>
                    </tr>
                    <tr style="border: white;">
                        <td>
                            Jumlah Transfer
                        </td>
                        <td>
                            <input th:field="${amount.jumlah}" type="number" class="w-100 border border-1 rounded p-2" placeholder="Masukkan jumlah transfer" required />
                        </td>
                        <td></td>
                    </tr>
                    
                    <tr style="border: white;">
                        <td></td>
                        <td colspan="2" class="d-flex justify-content-between">
                            <div></div>
                            <button type="submit" class="btn btn-success">Kirim</button>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </form>

            <div style="overflow-y: scroll; overflow-x: auto;" class="w-100 mt-5">
                <table class="text-center w-100">
                  <thead>
                    <th>Rek. Pengirim</th>
                    <th>Rek. Penerima</th>
                    <th>Jumlah Transfer</th>
                    <th>Bank Asal</th>
                    <th>Bank Tujuan</th>
                    <th>Fee</th>
                  </thead>
                  <tbody>
                      <tr th:each="am : ${listAmount}">
                        <td th:text="${am.pengirim.noRekening}"></td>
                        <td th:text="${am.penerima.noRekening}"></td>
                        <td th:text="${am.jumlah}"></td>
                        <td th:text="${am.provider.name}"></td>
                        <td th:text="${am.bankTujuan}"></td>
                        <td th:text="${am.fee}"></td>
                      </tr>
                  </tbody>
                </table>
              </div>
          </div>
        </div>


      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

      <script>

        const pengirim = document.getElementById('checkPengirim');
        const rekPengirim = document.getElementById('rekPengirim');
        const inpPengirim = document.getElementById('inputPengirim');
        const btn = document.getElementById('btnPengirimCek');
        btn.addEventListener('click', function () { 
            const getRek = inpPengirim.value;
            rekPengirim.textContent = getRek;
         })

         const showdata = () => {
          alert(inpPengirim.value)
         }

      </script>
</body>
</html>